<% provide(:title, 'Edit user') %>
<div class="row">
  <h2 class="center">Edit <%= resource_name.to_s.humanize %></h2>
</div>

<div class="row">
  <div class="large-6 large-offset-3 small-12 columns">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :first_name, 'First Name' %><br />
      <%= f.text_field :first_name, :autofocus => true %></div>

      <div><%= f.label :last_name, 'Last Name' %><br />
      <%= f.text_field :last_name %></div>

      <div><%= f.label :github, 'GitHub Username' %><br />
      <%= f.text_field :github %></div>

      <div><%= f.label :website %><br />
      <%= f.text_field :website %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password, 'New password' %> <i>(optional)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation, 'Confirm new password' %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :current_password %> <i>(required to complete changes)</i><br />
      <%= f.password_field :current_password %></div>

      <div><%= f.submit "Update", class: 'button small' %></div>
    <% end %>

    <h3>Delete account:</h3>

    <p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure you want to leave?" }, :method => :delete, class: 'button small' %></p>
  </div>
</div>

<%#= link_to "Back", :back %>
