<div class="row">
  <div class="large-7 large-offset-2 small-12">
    <%= form_for @comment, remote: true do |f| %>
      <%= render 'shared/error_messages', object: @comment %>

      <%= f.label :content, 'Comment:' %>
      <%= f.text_area :content, class: 'text-area' %>
      
      <%= f.hidden_field :id, value: @commentable.id %>
      <%= f.hidden_field :type, value: @commentable.class.to_s.downcase %>

      <%= f.submit 'Submit', class: 'button small' %>
    <% end %>
  </div>
</div>