<div class="row">
  <div class="large-8 large-offset-2 small-12">
    <%= form_for @comment, remote: true do |f| %>
      <%= render 'shared/error_messages', object: @comment %>

      <%= f.label :content, 'Comment:' %>
      <%= f.text_area :content, class: 'text-area' %>

      <%= f.hidden_field :answer_id, value: @answer.id %>

      <%= f.submit 'Submit', class: 'button small' %>
    <% end %>
  </div>
</div>