<div class="row">
  <div class="large-8 large-offset-2 small-12">
    <%= form_for @comment, remote: true do |f| %>
      <%= render 'shared/error_messages', object: @comment %>

      <%= f.label :content, 'Comment:' %>
      <%= f.text_area :content, class: 'text-area small-text-input', onKeyPress: 'return charLimit(this)', onKeyUp: 'return characterCount(this)', :autofocus => true %>
      
      <%= f.hidden_field :id, value: @commentable.id %>
      <%= f.hidden_field :type, value: @commentable.class.to_s.downcase %>

      <h6 class="subheader character-count"><strong><span id="charCount">250</span></strong> characters left</h6>

      <%= f.submit 'Submit', class: 'button small' %>
    <% end %>
  </div>
</div>