<% provide(:title, 'Profile') %>

<div class="row">
  <div class="large-offset-1 large-3 small-4 columns panel large-margin-top">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <div class="admin-content">
      <% if @user.admin? %>
        <p class="subheader">Admin</p>
      <% end %>
      <hr>
      <% if can? :make_admin, @user %>
        <%= button_to 'Make admin', { controller: :admins, action: :create, user_id: @user.id, user: { admin: true } }, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% if can? :admin_destroy, @user %>
      <%= button_to 'Delete account', { controller: :users, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <h5 class="subheader"><%= @user.karma %> karma</h5>
    <h6 class="subheader">Rank: <%= @user.rank %> of <%= User.all.length %></h6>
    <h6 class="subheader">GitHub: <%= link_to @user.github, "https://github.com/#{@user.github}", target: '_blank' %></h6>
    <h6 class="subheader">Website: <%= link_to @user.website, @user.website, target: '_blank' %></h6>
  </div>

  <div class="large-offset-1 small-offset-1 large-6 small-7 columns large-margin-top">
    <h4 class="extra-margin-top">Posts</h4>
    <hr>
    <% if @user.posts.any? %>

    <%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>

      <ul class="links no-bullet">
        <% @user.posts.each do |post| %>
      <li>
        <span class="post-listing-title"><%= link_to post.name, post %></span>
        <p>
          <span class="post-listing-details">
            <%= pluralize(post.answers.count, "answer") %>
             | <%= pluralize(post.votes.count, "vote") %>
             | <%= post.created_at.strftime("%-d %b '%y") %>
          </span>
        </p>
      </li>
    <% end %>
      </ul>
    <% end %>
  </div>
  <div class="large-1"></div>
</div>