<% if @post.answers.any? %>
  <section class="links">
    <div class="row">
      <div class="large-offset-2 large-8 small-12">
        <ul class="plain-ul">
          <% post.answers.ranked.each do |answer| %>
            <li>
              <p><%= answer.content %></p>
              <h6 class="subheader">
                <%= link_to "#{answer.user.first_name} #{answer.user.last_name}", user_path(answer.user), target: '_blank' %>
                 | <%= answer.created_at.strftime("%d %b '%y") %>
                 | <%= pluralize(answer.votes.count, "vote") %>
                 | <%= link_to 'upvote', votes_path(object: answer, sym: :Answer), method: :post %>
                 | <%= link_to 'comment', new_comment_path(answer: answer), remote: true, class: 'new-comment-request' %>
                <% if current_user && current_user == answer.user %>
                 | <%= link_to 'edit answer', edit_answer_path(answer) %>
                 | <%= link_to 'delete answer', answer_path(answer_id: answer.id), method: :delete, data: { confirm: 'Delete answer?' } %>
                <% end %>
              </h6>
              <div class="new-comment-form">
              </div>
              <%= render 'comments', answer: answer %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>