<div class="row">
  <div class="large-offset-2 large-8 small-12">
    <ul class="plain-ul comments-ul" id="post-show<%= post.id %>">
      <% post.comments.each do |comment| %>
        <li>
          <%= comment.content %>
          <p>
            <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user), target: '_blank' %>
             | <%= comment.created_at.strftime("%d %b '%y") %>
            <% if current_user && current_user == comment.user %>
             | <%= link_to 'delete', comment_path(id: comment.id), method: :delete, data: { confirm: 'Delete comment?' } %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>