<% provide(:title, 'Edit post') %>

<div class="row">
  <h2 class="center">Edit Post</h2>
  <h6 class="center subheader">
    To display code, use:<br/><pre>&lt;pre&gt; &lt;/pre&gt;</pre>
  </h6>
</div>

<div class="row">
  <div class="large-10 large-offset-1 small-12">
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: @post %>

      <%= f.label :name, 'Post title:' %>
      <%= f.text_field :name %>

      <%= f.label :content, 'Post content:' %>
      <%= f.text_area :content, class: 'text-area large-text-input' %>

      <%= f.submit 'Save changes', class: 'button small' %>
    <% end %>
  </div>
</div>