<% provide(:title, 'View post') %>

<div class="row">
  <h3 class="center"><%= @post.name %></h3>

  <div class="large-offset-1 large-10 small-12">
    <p><%= @post.content %></p>
  </div>

  <h6 class="center subheader">
    <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(@post.user), target: '_blank' %>
     | Posted: <%= @post.created_at.strftime("%d %b '%y") %>
     | Last edited: <%= @post.updated_at.strftime("%d %b '%y") %>
     | <%= pluralize(@post.votes.count, "vote") %>
     | <%= link_to 'upvote', votes_path(object: @post, sym: :Post), method: :post %>
     | <%= link_to 'answer', new_answer_path(post: @post) %>
     | <%= link_to 'comment', new_comment_path(id: @post.id, type: 'post'), remote: true, class: 'new-comment-request' %>
    <% if current_user && current_user == @post.user %>
       | <%= link_to 'edit post', edit_post_path(@post) %>
       | <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Delete post?' } %>
    <% end %>
  </h6>

  <% if current_user && current_user == @post.user && !@post.answered? %>
    <h6 class="center subheader">
      <%= render 'resolved' %>
    </h6>
  <% end %>
</div>

<div class="new-comment-form" id="post-form<%= @post.id %>">
</div>

<%= render 'posts_comments', post: @post %>

<%= render 'answers', post: @post %>