<% provide(:title, 'View post') %>

<div class="row">
  <h3 class="center"><%= @post.name %></h3>
  <h6 class="center subheader">
    Posted: <%= @post.created_at.strftime("%d %b '%y") %>
     | Last edited: <%= @post.updated_at.strftime("%d %b '%y") %>
     | <%= pluralize(@post.votes.count, "vote") %>
     | <%= link_to 'upvote', votes_path(object: @post, sym: :Post), method: :post %>
     | <%= link_to 'edit post', edit_post_path(@post) %>
     | <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'Delete post?' } %>
  </h6>
  <h6 class="center subheader">
    <%= render 'resolved' %>
  </h6>

  <div class="large-offset-2 large-8 small-12">
    <%= @post.content %>
  </div>

  <h6 class="center subheader">
    <%= link_to 'Answer post', new_answer_path(post: @post) %>
  </h6>
</div>

<%= render 'answers', post: @post %>