<% provide(:title, 'View post') %>

<div class="row">
  <div class="large-offset-1 large-10 small-12">
    <h3 class="center post-title"><%= @post.name %></h3>
    <div class="panel no-margin-bottom">
      <p><%= simple_format(@post.content) %></p>
    </div>
  </div>

  <div class="large-offset-1 large-8 small-8 columns">
    <h6 class="subheader extra-margin-bottom extra-margin-top">
      <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(@post.user), target: '_blank' %>
       | <%= @post.created_at.strftime("%-d %b '%y") %>
       | <%= pluralize(@post.votes.count, 'vote') %>
      <% if current_user != @post.user %>
         | <%= link_to 'upvote', votes_path(object: @post, sym: :Post), method: :post %>
      <% end %>
       | <%= link_to 'answer', new_answer_path(post: @post) %>
       | <%= link_to 'comment', new_comment_path(id: @post.id, type: 'post'), remote: true, class: 'new-comment-request' %>
      <% if current_user == @post.user || (current_user && current_user.admin?) %>
         -- <%= link_to 'edit', edit_post_path(@post) %>
      <% end %>
      <% if (current_user && current_user.admin?) %>
         -- <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Delete post?' } %>
      <% end %>
    </h6>
  </div>

  <div class="large-3 small-3 columns">
    <%= render 'resolved' %>
  </div>
  
</div>

<div class="new-comment-form" id="post-form<%= @post.id %>">
</div>

<%= render 'posts_comments', post: @post %>

<%= render 'answers', post: @post %>